@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

:root {
  --bright-blue: hsl(220, 98%, 61%);
  --check-ackground: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );

  /* light theme */
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* dark theme */
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue: hsl(237, 14%, 26%);
}

.container {
  /* max-width: 1400px; */
  background-color: var(--very-light-gray);
  height: 100vh;
}

.container.darkMode {
  background-color: var(--very-dark-blue);
}

.main {
  width: 600px;
  height: auto;
  position: relative;
  top: -250px;
  left: 25%;
}
.hero-img {
  background-image: url("/public/bg-desktop-light.jpg");
  width: 100vw;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-img.darkMode {
  background-image: url("/public/images/bg-desktop-dark.jpg");
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  color: white;
}
.moon {
  background-image: url("/public/images/icon-moon.svg");
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
}

.moon.darkMode {
  background-image: url("/public/images/icon-sun.svg");
}

.input-form {
  padding: 20px;
  background-color: var(--very-light-gray);
  display: inline-block;
  width: 93%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 20px black;
}
.input-form.darkMode {
  background-color: var(--very-dark-grayish-blue);
}
.input-form.darkMode ::placeholder {
  color: var(--dark-grayish-blue);
}

.type {
  border: none;
  outline: none;
  font-size: 18px;
  background-color: transparent;
}
.type.darkMode {
  color: var(--very-light-gray);
}

.theme-toggle {
  cursor: pointer;
}

.theme-toggle:hover {
  opacity: 0.7;
}

.todo {
  display: flex;
  align-items: center;
  padding-left: 11px;
}

.todo-container {
  background-color: var(--very-light-gray);
  margin-top: 40px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 20px black;
}

.todo-container.darkMode {
  background-color: var(--very-dark-grayish-blue);
}

hr {
  max-width: 100%;
  color: gray;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.todo-text p {
  font-size: 18px;
  color: var(--very-dark-grayish-blue);
}

.todo-text.darkMode p {
  color: white;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 10px;
  margin: 10px;
}
.footer-menu span {
  color: var(--dark-grayish-blue);
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
}

.state span {
  padding-right: 15px;
}

.instruction {
  padding-left: 25%;
  padding-top: 10%;
}

.instruction p {
  color: var(--dark-grayish-blue);
}

.add {
  border-radius: 50%;
  border: none;
  width: 25px;
  height: 25px;
  border: 2px solid var(--very-light-grayish-blue);
  margin-right: 10px;
  cursor: pointer;
}
.add.darkMode{
  background-color: transparent;
}

.add:hover {
  background-color: var(--very-light-grayish-blue);
  scale: 1.2;
  background-image: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  transition: .3s ease
}
.add:hover .add-sign {
  visibility: visible;
  color: white;
}

.add-sign {
  visibility: hidden;
  font-size: 18px;
}
.add-sign:hover {
  display: block;
}

/* .todo-check {
  border-radius: 50%;
  border: none;
  width: 25px;
  height: 25px;
  align-items: center;
  border: 2px solid var(--very-light-grayish-blue);
  margin-right: 10px;
}

.todo-check:hover {
  background-image: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

.todo-check:hover .tick {
  color: white;
} */

.checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* input[type="checkbox"] {
  display: none;
  margin: 0;
  color: transparent;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 30px;

  height: 30px;
  transform: scale(0);
} */

.todo-and-delete {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.delete-btn{
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--very-dark-grayish-blue);
  font-size: 18px;
  transition: .3s ease;
}

.delete-btn.darkMode {
  color: white;
}

.delete-btn:hover {
  scale: 1.5;
  ;
}

.checked {
  text-decoration: line-through;
  color: var(--very-light-grayish-blue);
}